header {
  width: 100%;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 3px solid #E08298;
  padding-top: 9px;
}
.block .phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block .phone .logo {
  width: 18px;
  height: 18px;
}
.block .phone .text {
  color: black;
  font-size: 24px;
  text-decoration: none;
  margin-left: 10px;
}
.block .icons {
  display: flex;
  flex-direction: row;
}
.block .icons .icon {
  padding: 0 22px;
}
.block .icons .icon:hover {
  cursor: pointer;
}
.block .icons .icon .stat {
  display: none;
}
.block .icons .icon.is-stat .stat {
  width: 23px;
  height: 23px;
  background-color: #E08298;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: -7px;
  margin-left: 20px;
}

.menu {
  width: 100%;
  border: 0;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  align-items: center;
  margin-top: 21px;
}
.menu .hamburger {
  display: none;
}
.menu a {
  text-decoration: none;
  font-size: 17px;
  color: black;
  padding: 0 15px;
}
.menu .text {
  margin-left: 10px;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 29px;
}
.menu .text:hover {
  color: #E08298;
}
.menu .text::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  top: 11px;
}
.menu .text:hover::after {
  content: "";
  display: block;
  position: relative;
  background-color: #E08298;
}
.menu .clothes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu .clothes .clothes-point {
  display: flex;
  align-items: center;
  border-bottom: 3px solid white;
}
.menu .clothes .clothes-point .text:nth-child(3)::after {
  top: 4px;
}
.menu .links {
  display: flex;
  flex-direction: row;
}
.menu .links .link-point {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1259px) {
  .menu {
    height: 75px;
  }
  .menu .text:after {
    top: 27px;
  }
  .menu .text.jeens::after {
    top: 4px;
  }
  .menu .text.about::after {
    top: 3px;
  }
}
@media only screen and (min-width: 678px) and (max-width: 1170px) {
  .block {
    flex-direction: column;
  }
  .block .phone, .block .logo, .block .icons {
    margin-top: 20px;
  }

  .menu {
    flex-direction: column;
    margin-top: 70px;
    border: none;
  }
  .menu .text::after {
    top: 4px;
  }
  .menu .links {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 678px) {
  .block {
    flex-direction: column;
  }
  .block .phone, .block .logo, .block .icons {
    margin-top: 20px;
  }
  .block .logo img {
    width: 300px;
  }

  .menu {
    flex-direction: column;
    border: none;
    align-items: flex-end;
    width: 95%;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid black;
    margin: auto;
    margin-top: 30px;
  }
  .menu .text::after {
    top: 4px;
  }
  .menu .hamburger {
    display: block;
    width: 50px;
    height: 40px;
    position: relative;
  }
  .menu .hamburger .line {
    width: 40px;
    height: 5px;
    background-color: black;
    border-radius: 6px;
    display: block;
    padding: -5px 0;
    margin: 7px 0;
    left: 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .menu .hamburger .line:nth-child(3) {
    margin-top: -12px;
  }
  .menu .clothes {
    position: absolute;
    height: 170px;
    width: 100%;
    flex-direction: column;
    margin-top: 140px;
    left: -300px;
    display: none;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .menu .clothes .clothes-point {
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 13px;
  }
  .menu .links {
    height: 240px;
    width: 100%;
    flex-direction: column;
    margin-top: 345px;
    position: absolute;
    left: -300px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .menu .links .link-point {
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 13px;
  }

  .menu.open .hamburger {
    margin-top: -10px;
  }
  .menu.open .hamburger .line {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
  }
  .menu.open .hamburger .line:nth-child(1) {
    width: 0;
    left: 50px;
  }
  .menu.open .hamburger .line:nth-child(2) {
    transform: rotate(-45deg);
  }
  .menu.open .hamburger .line:nth-child(3) {
    transform: rotate(45deg);
  }
  .menu.open .hamburger .line:nth-child(4) {
    width: 0;
    left: 50px;
  }
  .menu.open .clothes {
    display: flex;
    left: 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .menu.open .links {
    display: flex;
    left: 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

/*# sourceMappingURL=header.css.map */
