.collection{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  width: 1195px;

  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mark{
      & span{
        width: 130px;
        height: 130px;
        background-color: #E08298;
        padding: 5px;
        color: white;
        font-size: 18px;
      }
    }

    .logo{
      & img{
        height: 64px;
        margin-top: 20px;
      }
    }
  }

  .block-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .card{
      width: 360px;
      height: 420px;
      border: 1px solid #070606;
      margin: 30px 17.5px;
      position: relative;

      .header{
        margin-left: 10px;
        margin-top: -13px;
        display: block;
        background-color: white;
        width: max-content;
        font-weight: bold;
        padding: 0 10px;
      }

      .img-card{
        position: absolute;
        z-index: 20;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      .card-hover{
        opacity: 0;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover > .card-hover {
        position: absolute;
        cursor: pointer;
        z-index: 50;
        left: 32px;
        top: 40px;
        opacity: 1;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover > .img-card {
      
        filter: brightness(0.5);
        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

@media only screen and (min-width: 678px) and (max-width: 1170px) {
  .collection{
    width: 80%;
  }
}

@media only screen and (min-width : 320px) and (max-width : 413px) {
  .collection{
    width: 80%;

    .block-card{
      width: 59%;

      .card{

        .header{
          margin-left: 100px;
        }
      }
    }
  }
}

@media only screen and (min-width : 413px) and (max-width : 678px) {
  .collection{
    width: unset;
  }
}
