.feedback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1170px;
  height: 345px;
  margin: auto;
  align-items: center;
  background-color: #F3F3F3;

  .head{

    .title::after{
      content: "";
      display: block;
      width: 100%;
      background-color: #E08298;
      height: 3px;
      position: relative;
      top: 6px;
    }
  }

  .form{

    .input{
      display: flex;
      flex-direction: row;

      input{
        height: 42px;
        width: 255px;
        border: 1px solid #E7E7E7;
        background-color: #FFFFFF;
        outline: none;
        margin: 10px;
        padding-left: 30px;
      }

      .load_image{
        display: flex;
        flex-direction: row;
        background-color: #A9A9A9;
        height: 42px;
        width: 285px;
        margin: 10px;

        input{
          opacity: 0;
          position: absolute;
          height: 30px;
          z-index: 100;
          &:hover{
            cursor: pointer;
          }
        }

        img{
          width: 50px;
          height: 42px;
          border-right: 1px solid rgba(255, 255, 255, 0.356);
        }

        .text{
          text-align: center;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          color: white;
          margin: unset;
        }
      }
    }

    .button{

      button{
        width: 97%;
        margin: 10px;
        height: 48px;
        background-color: #E08298;
        border: none;
        color: white;
        font-size: 18px;	
        font-weight: 600;	

        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: 678px) and (max-width: 1170px) {
  .feedback{
    height: 500px;
    width: unset;

    .form{

      .input{
        flex-direction: column;
      }

      .button{

        button{
          width: 93%;
        }
      }
    }
  }
}

@media only screen and (min-width : 320px) and (max-width : 678px) {
  .feedback{
    height: 500px;
    width: unset;

    .form{

      .input{
        flex-direction: column;
      }

      .button{

        button{
          width: 93%;
        }
      }
    }
  }
}