.slider{
  background-color: #d6f5ff59;
  width: 100%;
}

.background{
  width: 100%;
  background-image: url(../img/slider/banner.png);
  height: 659px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.control-block{
  display: flex;
  position: relative;
  z-index: 50;
  justify-content: space-between;
  align-items: center;
  height: 659px;
  width: 80%;
  margin: auto;


  .arrow-right{
    background-image: url('../img/arrow.png');
    width: 20px;
    height: 64px;
    transform: rotate(180deg);

    &:hover{
      cursor: pointer;
      background-image: url('../img/arrow_hover.png');
      transform: unset;
    }
  }

  .arrow-left{
    background-image: url('../img/arrow.png');
    width: 20px;
    height: 64px;

    &:hover{
      cursor: pointer;
      background-image: url('../img/arrow_hover.png');
      transform: rotate(180deg);
    }

  }

  .block-text{
    margin-left: -50%;
    position: relative;
    z-index: 50;

    .sub-title{
      background-color: #FFFFFF;
      color: #000000;
      font-size: 24px;
      width: max-content;
      padding: 0 10px;

      p{
        margin: 0;
      }
    }

    .title{
      color: black;
      font-size: 48px;
      font-weight: 600;

      .color{
        color: #E08298;
      }

      h2{
        margin: 0;
      }
    }

    .text{
      color: black;
      font-size: 36px;
      font-weight: 200;

      p{
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 1170px) and (max-width: 1500px) {
  .background{
    height: 60%;
  }
}

@media only screen and (min-width: 678px) and (max-width: 1170px) {
  .background{
    border-top: 1px solid black;
    background-position-x: 70%;
    background-size: cover;
  }

  .control-block{
    .block-text{
      margin: 0;
      margin-top: auto;
    }
  }
}


@media only screen and (min-width : 320px) and (max-width : 678px) {
  .background{
    border-top: 1px solid black;
    background-position-x: 70%;
    background-size: cover;
  }

  .control-block{
    .block-text{
      margin: 0;
      margin-top: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title{
        font-size: 35px;
        text-align: center;
      }

      .text{
        text-align: center;
      }
    }
  }
}