@import '../css/header.css';
@import '../css/slider.css';
@import '../css/collection.css';
@import '../css/newCollection.css';
@import '../css/banner.css';
@import '../css/info.css';
@import '../css/footer.css';
@import '../css/breadcrumbs.css';
@import '../css/discount.css';
@import '../css/feedback.css';

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Open Sans
}

.title.new_collection{

  h2{
    font-size: 26px;
    font-weight: bold;
    text-align: center;

    &::after{
      content: "";
      width: 8%;
      margin: auto;
      position: relative;
      height: 2px;
      background-color: #E08298;
      top: 10px;
      display: flex;
    }
  }
}

.title_discount_page.left{
  width: 1195px;
  margin: auto;

  h2{
    text-align: left;

    &::after{
      content: "";
      width: 8%;
      position: relative;
      height: 2px;
      background-color: #E08298;
      top: 10px;
      display: flex;
    }
  }
}
  

@media only screen and (min-width: 678px) and (max-width: 1170px) {
  .title_discount_page.left{
    width: 80%;
    margin: auto;

    h2{
      text-align: left;

      &::after{
        content: "";
        width: 8%;
        position: relative;
        height: 2px;
        background-color: #E08298;
        top: 10px;
        display: flex;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 678px) {
  .content{
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .content.open{
    margin-top: 450px;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .title_discount_page.left{
    width: 80%;
    margin: auto;

    h2{
      text-align: left;

      &::after{
        content: "";
        width: 8%;
        position: relative;
        height: 2px;
        background-color: #E08298;
        top: 10px;
        display: flex;
      }
    }
  }
}