.new_collection {
  width: 1190px;
  margin: auto;
  margin-top: 40px;
}
.new_collection .title h2 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
.new_collection .title h2::after {
  content: "";
  width: 8%;
  margin: auto;
  position: relative;
  height: 2px;
  background-color: #E08298;
  top: 10px;
  display: flex;
}
.new_collection .product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.new_collection .product .product_card {
  width: 284px;
  margin: 20px 6.5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new_collection .product .product_card .block_card:hover {
  cursor: pointer;
}
.new_collection .product .product_card .icon_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.new_collection .product .product_card .icon_block .icon_new {
  margin-left: 16px;
  margin-top: 16px;
  background-image: url("../img/new.png");
  width: 35px;
  height: 34px;
  background-repeat: no-repeat;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.new_collection .product .product_card .icon_block .icon_like {
  margin-right: 16px;
  margin-top: 16px;
  background-image: url("../img/product_like.png");
  width: 35px;
  height: 34px;
  background-repeat: no-repeat;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.new_collection .product .product_card .icon_block .icon_like:hover {
  cursor: pointer;
  background-image: url("../img/product_like_hover.png");
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.new_collection .product .product_card .discount-mark {
  display: none;
}
.new_collection .product .product_card .discount-mark.active {
  width: 170px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 16px;
  background-color: white;
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}
.new_collection .product .product_card .discount-mark.active::before {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 6px;
  background-color: #E08298;
  top: 0;
  left: 0;
}
.new_collection .product .product_card .discount-mark.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 6px;
  background-color: #E08298;
  top: 90%;
  left: 0;
}
.new_collection .product .product_card .discount-mark.active .head {
  font-size: 15px;
  font-weight: bold;
}
.new_collection .product .product_card .discount-mark.active .text {
  font-size: 15px;
  margin: unset;
}
.new_collection .product .product_card .text {
  margin-top: 8px;
}
.new_collection .product .product_card .text a {
  font-size: 15px;
  color: #C75A73;
  font-weight: bold;
  text-align: center;
}
.new_collection .product .product_card .text:hover a {
  color: #ca002e;
}
.new_collection .product .product_card .properties {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 26px;
}
.new_collection .product .product_card .properties .article, .new_collection .product .product_card .properties .existence {
  display: flex;
  flex-direction: row;
}
.new_collection .product .product_card .properties .article .option, .new_collection .product .product_card .properties .existence .option {
  font-size: 13px;
  color: #808080;
}
.new_collection .product .product_card .properties .article .result, .new_collection .product .product_card .properties .existence .result {
  color: black;
  font-size: 13px;
}
.new_collection .product .product_card .price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.new_collection .product .product_card .price .text {
  font-size: 15px;
  color: #808080;
}
.new_collection .product .product_card .price .discount_text {
  display: none;
}
.new_collection .product .product_card .price .discount_text.active {
  display: block;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-decoration: line-through;
  margin-right: 10px;
}
.new_collection .product .product_card .price .result {
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.new_collection .product .product_card .button {
  display: flex;
  flex-direction: row;
  width: 180px;
  height: 42px;
  background-color: #E08298;
  margin: 25px auto;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.new_collection .product .product_card .button img {
  width: 17px;
  height: 19px;
  padding: 13px 11px;
  border-right: 1px solid #ffffff33;
}
.new_collection .product .product_card .button .text {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  margin: unset;
}
.new_collection .product .product_card .button:hover {
  cursor: pointer;
  background-color: #e06b87;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (min-width: 678px) and (max-width: 1170px) {
  .new_collection {
    width: 100%;
  }
  .new_collection .product {
    justify-content: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 678px) {
  .new_collection {
    width: 100%;
  }
  .new_collection .product {
    justify-content: center;
  }
}

/*# sourceMappingURL=newCollection.css.map */
